<!DOCTYPE html>
<ng-include src="'partials/header.html'" ng-controller="headerCtrl"></ng-include>

<form ng-hide="showForm" action="" onsubmit="return false;">


	<input ows="1" id="choice1" placeholder="Option">
	<input rows="1" id="choice2" placeholder="Option">
	<p id="newTextarea"></p>

	<button id="add" class="ghost-button-rounded-corners">+</button>
	<button id="remove" class="ghost-button-rounded-corners">-</button>
	</br><span style="color:lightblue; font-size: 20px;" > Shake me</span>  

</form>